* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nevbar a{
    text-decoration: none;
    color: rgb(112, 111, 111);
}
.nevbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 0px 16px rgb(0, 0, 0);
    width: 20%;
    height: 100vh;
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.footer-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}