* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-color: #f0f2f5;
}
.nevbar a {
  text-decoration: none;
  color: rgb(112, 111, 111);
}
.nevbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 0px 16px rgb(0, 0, 0);
  width: 60px;
  height: 94vh;
  margin: 20px;
}
.menu {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.tabcontent{
    display: none;
    animation: fadeEffect 0.5s;
}
.tabcontent.active{
    display: block;
}
@keyframes fadeEffect { 
    from {opacity: 0; transform: translateY(10px);}
    to {opacity: 1; transform: translateY(0);}
}
.main{
    flex: 1;
    
    overflow-y: auto;
}